@font-face {
  font-family: Dana;
  src: url("../font/Dana/WebFonts/ae238c3ee498c52a23aab0d9f5e94d6b.ttf");
}

@font-face {
  font-family: Dana;
  src: url("../font/Dana/WebFonts/ae238c3ee498c52a23aab0d9f5e94d6b.eot");
}


@font-face {
  font-family: Dana;
  src: url("../font/Dana/WebFonts/ae238c3ee498c52a23aab0d9f5e94d6b.woff");
}


@font-face {
  font-family: Dana;
  src: url("../font/Dana/WebFonts/ae238c3ee498c52a23aab0d9f5e94d6b.woff2");
}
